<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nobel Laureate</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/css/bootstrap-select.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<body>

<div class="container">
    <h1>Detalles</h1>

    <table class="table table-condensed">
        <tbody>
        <tr>
            <td>Nombre</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>Nacionalidad</td>
            <td>{{nationality}}</td>
        </tr>
        <tr>
            <td>Categoria</td>
            <td>{{category}}</td>
        </tr>
        <tr>
            <td>Año</td>
            <td>{{year}}</td>
        </tr>
        <tr>
            <td>Asociacion</td>
            <td>{{association}}</td>
        </tr>
        <tr>
            <td>Nacio</td>
            <td>{{born}}</td>
        </tr>
        <tr>
            <td>Murio</td>
            <td>{{died}}</td>
        </tr>
        <tr>
            <td>Motivacion</td>
            <td>{{motivation}}</td>
        </tr>
        </tbody>
    </table>
    <div><img src={{photo}}></div>

</div>
</body>
</html>